* {
    padding: 0;
    margin: 0;
}
.nav_bar{
    display: flex;
    background: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 100;
    padding-top: 0.8rem;
    padding-bottom: 0.7rem;
}
.main_logo{
    font-size: 1.6rem;
    color: red;
}
.left{
    padding-left: 1.5rem;
    padding-right: 1.3rem;
}
.lefttext{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    font-weight: bold;
}    
.search_bar{
    padding-top: 0.1rem;
    padding-left: 6.2rem;
    display: flex;
    width: 50%;
}
.ifram{
    border: 0;
}
.search{
    width: 100%;
    font-size: 15px;
    padding: 4px;
}
.search_button{
    width: 10%;
    font-size: 15px
}    
.navright1{
    text-align: right;
    padding-left: 8rem;
}
.right{
    padding-left: 2.5rem;
}
.main_container{
    padding-top: 5%;
    justify-content: center;
    display: flex;
}
.the_video{
    font-family: Arial, Helvetica, sans-serif;
}
.main_header{
    display: none;
}
.tittle{
    padding-top: 0.8rem;
}
.likes_views{
    display: flex;
}
.number_views{
    color: #777575;
    padding-top: 0.8rem;
}
.views_right{
    padding-left: 7rem;
    color: #777575;
}
.image{
    padding-left: 2rem;
}
.share_button{
    background-color: transparent;
    border: none;
    color: #777575;
    cursor: pointer;
}
.views{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding-left: 0.8rem;
}
.video_description{
    display: flex;
    padding-top: 1rem;
}
.joy{
    border-radius: 70%;
}
.desciption_container{
    padding-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.poo, .pee{
    color: grey;
    font-size: 14px;
}
.pee{
    padding-top: 1rem;
}

.subscribe_button{
    padding-left: 16rem;
}
.btn{
    width: 7rem;
    height: 2rem;
    background-color: rgb(218, 0, 0);
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 2px;
}
.aside_bar{
    justify-content: right;
    padding-left: 2rem;
    width: 30%;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}
.headear_aside{
    text-align: right;
    display: flex;
}
.toogle{
    color: rgb(101, 101, 240);
}
.dot{
    font-size: 15px;
    color: gray;
}
.dot3{
    padding-left: 13rem;
    color: gray;
    font-size: 15px;
}
#img{
    list-style: none;
    position: relative;
}
.side_bar_videos{
    padding: 0.8rem;
    display: flex;
    position: relative;
}
.sidebar{
    width: 11rem;
}
.description_aside_videos{
    padding-left: 0.5rem;
}
.line_correction{
    top: 95%;
    border: 0.7px solid rgb(158, 158, 158);
    position: absolute;
    width: 100%;
}
.A{
    font-size: 15px;
    font-weight: bolder;
}
.B, .C{
    color: gray;
    font-size: 13px;
}
.B{
    padding-top: 0.6rem;
}
.C{
    padding-top: 0.3rem;
}