* {
    padding: 0;
    margin: 0;
}
.nav_bar{
    display: flex;
    background: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 100;
    padding-top: 0.8rem;
    padding-bottom: 0.7rem;
}
.main_logo{
    font-size: 1.6rem;
    color: red;
}
.left{
    padding-left: 1.5rem;
    padding-right: 1.3rem;
}
.lefttext{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    font-weight: bold;
}    
.search_bar{
    padding-top: 0.1rem;
    padding-left: 6.2rem;
    display: flex;
    width: 50%;
}
.ifram{
    border: 0;
}
.search{
    width: 100%;
    font-size: 15px;
    padding: 4px;
}
.search_button{
    width: 10%;
    font-size: 15px;
    cursor: pointer;
}    
.navright1{
    text-align: right;
    padding-left: 8rem;
}
.right{
    padding-left: 2.5rem;
}
.main_container{
    padding-top: 5%;
    justify-content: center;
    display: flex;
}

.the_video{
    font-family: Arial, Helvetica, sans-serif;
}

.main_header{
    display: none;
}

.big_description {
    margin: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.tittle{
    font-size: 1.3rem;
}

.likes_views{
    display: flex;
    justify-content: flex-end;
}

.user_icon {
    width: 4rem;
}

.joy {
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    width: 4rem;
}

.video_description{
    width: 14rem;
    padding: 1rem;
}

.pet {
    color: rgb(92, 90, 90);
    font-size: 1.1rem;
}

.subscribe_button{
    padding-top: 0.5rem;
}

.number_views{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
    color: #777575;
    font-size: 1.5rem;
}

.views_right {
    display: flex;
    font-size: 21px;
    padding-top: 1rem;
    color: #746a6a;
}

.views_right1 {
    width: 50%;
}

.views_right2 {
    text-align: right;
    width: 50%;
}

.share_button{
    background-color: transparent;
    border: none;
    color: #777575;
    cursor: pointer;
}
.views{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.poo, .pee{
    color: grey;
    font-size: 14px;
}
.pee{
    padding-top: 1rem;
}

.btn{
    width: 7rem;
    height: 2rem;
    background-color: rgb(218, 0, 0);
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 2px;
}

.text_description {
    margin: 1.7rem 0 0 1rem;
    font-size: 0.9rem;
}

.text_description1 {
    margin-bottom: 1rem;
}

.text_description1p, .text_description1 {
    width: 46rem;
    color: rgb(136, 132, 131);
}

.show_more{
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: transparent;
    color: rgb(136, 132, 131);
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 0.4rem;
}

.aside_bar{
    justify-content: right;
    padding-left: 2rem;
    width: 30%;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}
.headear_aside{
    text-align: right;
    display: flex;
}
.toogle{
    color: rgb(101, 101, 240);
}
.dot{
    font-size: 15px;
    color: gray;
}
.dot3{
    padding-left: 13rem;
    color: gray;
    font-size: 15px;
}
#img{
    list-style: none;
    position: relative;
}
.side_bar_videos{
    padding: 0.8rem;
    display: flex;
    position: relative;
}
.sidebar{
    width: 11rem;
}
.description_aside_videos{
    padding-left: 0.5rem;
}
.line_correction{
    top: 95%;
    border: 0.7px solid rgb(158, 158, 158);
    position: absolute;
    width: 100%;
}
.A{
    font-size: 15px;
    font-weight: bolder;
}
.B, .C{
    color: gray;
    font-size: 13px;
}
.B{
    padding-top: 0.6rem;
}
.C{
    padding-top: 0.3rem;
}